@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  color: white;
  background: #020617;
}

.container {
  width: 100%;
  border-bottom: 1px solid #9333ea;
}

.fade {
  opacity: 0;
  transition: all 1s;
}
.fade_top {
  transform: translate(0, 10vh);
}
.fade_right {
  transform: translate(10vh, 0);
}
.fade_left {
  transform: translate(-10vh, 0);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
