@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;800&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  background: linear-gradient(
    whitesmoke,
    violet,
    #3376ea,
    #9333ea,
    #333,
    rgb(38, 38, 38)
  );
  -webkit-background: linear-gradient(
    whitesmoke,
    violet,
    #3376ea,
    #9333ea,
    #333,
    rgb(38, 38, 38)
  );
  -moz-background: linear-gradient(
    whitesmoke,
    violet,
    #3376ea,
    #9333ea,
    #333,
    rgb(38, 38, 38)
  );
  -o-background: linear-gradient(
    whitesmoke,
    violet,
    #3376ea,
    #9333ea,
    #333,
    rgb(38, 38, 38)
  );
  color: rgb(156 163 175);
  padding: 2%;
}

h1 {
  margin: 5% 0%;
  background: radial-gradient(violet, #9333ea);
  background: -o-radial-gradient(violet, #9333ea);
  background: -moz-radial-gradient(violet, #9333ea);
  background: -webkit-radial-gradient(violet, #9333ea);
  font-size: 3rem;

  -webkit-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
}

.container {
  width: 100%;
  border-bottom: 1px solid #9333ea;
}

.fade {
  opacity: 0;
  transition: all 1s;
}
.fade_top {
  transform: translate(0, 10vh);
}
.fade_right {
  transform: translate(10vh, 0);
}
.fade_left {
  transform: translate(-10vh, 0);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
